<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= @task.title %></h2>
      <p class="card-text"><%= @task.description %></p>
      <% if @task.due_date.present? %>
      <span class="badge bg-primary rounded-pill"><%= @task.due_date.strftime('%b %d, %Y') %></span>
      <% else %>
        <span class="badge bg-secondary rounded-pill">No due date</span>
      <% end %>
      <%= link_to "Edit Task", edit_task_path(@task), class: "btn btn-warning" %>

      <%= link_to "Destroy", task_path(@task), class: "btn btn-danger", data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </div>
  </div>
</div>
